#Packages
SPackages/SActivators/bin/
SPackages/SActivators/obj/
SPackages/SDetectors/bin/
SPackages/SDetectors/obj/
SPackages/SHealths/bin/
SPackages/SHealths/obj/
SPackages/SMiscs/bin/
SPackages/SMiscs/obj/
SPackages/SRanges/bin/
SPackages/SRanges/obj/
SPackages/STimers/bin/
SPackages/STimers/obj/
SPackages/STrackers/bin/
SPackages/STrackers/obj/
SPackages/SWards/bin/
SPackages/SWards/obj/

#Taken out due to not working (buggy) features
SActivators/

#Standalones
#Detectors
SStandalones/SDetectors/SDisReconnectDetector/bin/
SStandalones/SDetectors/SDisReconnectDetector/obj/
SStandalones/SDetectors/SDisReconnectDetector/Detectors/*
!SStandalones/SDetectors/SDisReconnectDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SDisReconnectDetector/Detectors/DisReconnect.cs
SStandalones/SDetectors/SFoWSpellEnemyDetector/bin/
SStandalones/SDetectors/SFoWSpellEnemyDetector/obj/
SStandalones/SDetectors/SFoWSpellEnemyDetector/Detectors/*
!SStandalones/SDetectors/SFoWSpellEnemyDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SFoWSpellEnemyDetector/Detectors/FoWSpellEnemy.cs
SStandalones/SDetectors/SGankDetector/bin/
SStandalones/SDetectors/SGankDetector/obj/
SStandalones/SDetectors/SGankDetector/Detectors/*
!SStandalones/SDetectors/SGankDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SGankDetector/Detectors/Gank.cs
SStandalones/SDetectors/SRecallDetector/bin/
SStandalones/SDetectors/SRecallDetector/obj/
SStandalones/SDetectors/SRecallDetector/Detectors/*
!SStandalones/SDetectors/SRecallDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SRecallDetector/Detectors/Recall.cs
SStandalones/SDetectors/SVisionDetector/bin/
SStandalones/SDetectors/SVisionDetector/obj/
SStandalones/SDetectors/SVisionDetector/Detectors/*
!SStandalones/SDetectors/SVisionDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SVisionDetector/Detectors/Vision.cs
#Healths
SStandalones/SHealths/SInhibitor/bin/
SStandalones/SHealths/SInhibitor/obj/
SStandalones/SHealths/SInhibitor/Healths/*
!SStandalones/SHealths/SInhibitor/Healths/Health.cs
!SStandalones/SHealths/SInhibitor/Healths/Inhibitor.cs
SStandalones/SHealths/STurret/bin/
SStandalones/SHealths/STurret/obj/
SStandalones/SHealths/STurret/Healths/*
!SStandalones/SHealths/STurret/Healths/Health.cs
!SStandalones/SHealths/STurret/Healths/Turre.cs
#Miscs
SStandalones/SMiscs/SAntiJump/bin/
SStandalones/SMiscs/SAntiJump/obj/
SStandalones/SMiscs/SAntiJump/Miscs/*
!SStandalones/SMiscs/SAntiJump/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiJump/Miscs/AntiJump.cs
SStandalones/SMiscs/SAntiLatern/bin/
SStandalones/SMiscs/SAntiLatern/obj/
SStandalones/SMiscs/SAntiLatern/Miscs/*
!SStandalones/SMiscs/SAntiLatern/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiLatern/Miscs/AntiLatern.cs
SStandalones/SMiscs/SAntiNexusTurret/bin/
SStandalones/SMiscs/SAntiNexusTurret/obj/
SStandalones/SMiscs/SAntiNexusTurret/Miscs/*
!SStandalones/SMiscs/SAntiNexusTurret/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiNexusTurret/Miscs/AntiNexusTurret.cs
SStandalones/SMiscs/SAntiVisualScreenStealth/bin/
SStandalones/SMiscs/SAntiVisualScreenStealth/obj/
SStandalones/SMiscs/SAntiVisualScreenStealth/Miscs/*
!SStandalones/SMiscs/SAntiVisualScreenStealth/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiVisualScreenStealth/Miscs/AntiVisualScreenStealth.cs
SStandalones/SMiscs/SAutoBuy/bin/
SStandalones/SMiscs/SAutoBuy/obj/
SStandalones/SMiscs/SAutoBuy/Miscs/*
!SStandalones/SMiscs/SAutoBuy/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoBuy/Miscs/AutoBuy.cs
SStandalones/SMiscs/SAutoJump/bin/
SStandalones/SMiscs/SAutoJump/obj/
SStandalones/SMiscs/SAutoJump/Miscs/*
!SStandalones/SMiscs/SAutoJump/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoJump/Miscs/AutoJump.cs
SStandalones/SMiscs/SAutoLatern/bin/
SStandalones/SMiscs/SAutoLatern/obj/
SStandalones/SMiscs/SAutoLatern/Miscs/*
!SStandalones/SMiscs/SAutoLatern/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoLatern/Miscs/AutoLatern.cs
SStandalones/SMiscs/SAutoLevler/bin/
SStandalones/SMiscs/SAutoLevler/obj/
SStandalones/SMiscs/SAutoLevler/Miscs/*
!SStandalones/SMiscs/SAutoLevler/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoLevler/Miscs/AutoLevler.cs
SStandalones/SMiscs/SEasyRangedJungle/bin/
SStandalones/SMiscs/SEasyRangedJungle/obj/
SStandalones/SMiscs/SEasyRangedJungle/Miscs/*
!SStandalones/SMiscs/SEasyRangedJungle/Miscs/Misc.cs
!SStandalones/SMiscs/SEasyRangedJungle/Miscs/EasyRangedJungle.cs
SStandalones/SMiscs/SEloDisplayer/bin/
SStandalones/SMiscs/SEloDisplayer/obj/
SStandalones/SMiscs/SEloDisplayer/Miscs/*
!SStandalones/SMiscs/SEloDisplayer/Miscs/Misc.cs
!SStandalones/SMiscs/SEloDisplayer/Miscs/EloDisplayer.cs
SStandalones/SMiscs/SFlashJuke/bin/
SStandalones/SMiscs/SFlashJuke/obj/
SStandalones/SMiscs/SFlashJuke/Miscs/*
!SStandalones/SMiscs/SFlashJuke/Miscs/Misc.cs
!SStandalones/SMiscs/SFlashJuke/Miscs/FlashJuke.cs
SStandalones/SMiscs/SMinionBars/bin/
SStandalones/SMiscs/SMinionBars/obj/
SStandalones/SMiscs/SMinionBars/Miscs/*
!SStandalones/SMiscs/SMinionBars/Miscs/Misc.cs
!SStandalones/SMiscs/SMinionBars/Miscs/MinionBars.cs
SStandalones/SMiscs/SMinionLocation/bin/
SStandalones/SMiscs/SMinionLocation/obj/
SStandalones/SMiscs/SMinionLocation/Miscs/*
!SStandalones/SMiscs/SMinionLocation/Miscs/Misc.cs
!SStandalones/SMiscs/SMinionLocation/Miscs/MinionLocation.cs
SStandalones/SMiscs/SMoveToMouse/bin/
SStandalones/SMiscs/SMoveToMouse/obj/
SStandalones/SMiscs/SMoveToMouse/Miscs/*
!SStandalones/SMiscs/SMoveToMouse/Miscs/Misc.cs
!SStandalones/SMiscs/SMoveToMouse/Miscs/MoveToMouse.cs
SStandalones/SMiscs/SPingerName/bin/
SStandalones/SMiscs/SPingerName/obj/
SStandalones/SMiscs/SPingerName/Miscs/*
!SStandalones/SMiscs/SPingerName/Miscs/Misc.cs
!SStandalones/SMiscs/SPingerName/Miscs/PingerName.cs
SStandalones/SMiscs/SRealTime/bin/
SStandalones/SMiscs/SRealTime/obj/
SStandalones/SMiscs/SRealTime/Miscs/*
!SStandalones/SMiscs/SRealTime/Miscs/Misc.cs
!SStandalones/SMiscs/SRealTime/Miscs/RealTime.cs
SStandalones/SMiscs/SSafeMovement/bin/
SStandalones/SMiscs/SSafeMovement/obj/
SStandalones/SMiscs/SSafeMovement/Miscs/*
!SStandalones/SMiscs/SSafeMovement/Miscs/Misc.cs
!SStandalones/SMiscs/SSafeMovement/Miscs/SafeMovement.cs
SStandalones/SMiscs/SShowPing/bin/
SStandalones/SMiscs/SShowPing/obj/
SStandalones/SMiscs/SShowPing/Miscs/*
!SStandalones/SMiscs/SShowPing/Miscs/Misc.cs
!SStandalones/SMiscs/SShowPing/Miscs/ShowPing.cs
SStandalones/SMiscs/SShowSupporterStacks/bin/
SStandalones/SMiscs/SShowSupporterStacks/obj/
SStandalones/SMiscs/SShowSupporterStacks/Miscs/*
!SStandalones/SMiscs/SShowSupporterStacks/Miscs/Misc.cs
!SStandalones/SMiscs/SShowSupporterStacks/Miscs/ShowSupporterStacks.cs
SStandalones/SMiscs/SSkinChanger/bin/
SStandalones/SMiscs/SSkinChanger/obj/
SStandalones/SMiscs/SSkinChanger/Miscs/*
!SStandalones/SMiscs/SSkinChanger/Miscs/Misc.cs
!SStandalones/SMiscs/SSkinChanger/Miscs/SkinChanger.cs
SStandalones/SMiscs/SSmartPingImprove/bin/
SStandalones/SMiscs/SSmartPingImprove/obj/
SStandalones/SMiscs/SSmartPingImprove/Miscs/*
!SStandalones/SMiscs/SSmartPingImprove/Miscs/Misc.cs
!SStandalones/SMiscs/SSmartPingImprove/Miscs/SmartPingImprove.cs
SStandalones/SMiscs/SSurrenderVote/bin/
SStandalones/SMiscs/SSurrenderVote/obj/
SStandalones/SMiscs/SSurrenderVote/Miscs/*
!SStandalones/SMiscs/SSurrenderVote/Miscs/Misc.cs
!SStandalones/SMiscs/SSurrenderVote/Miscs/SurrenderVote.cs
SStandalones/SMiscs/STurnAround/bin/
SStandalones/SMiscs/STurnAround/obj/
SStandalones/SMiscs/STurnAround/Miscs/*
!SStandalones/SMiscs/STurnAround/Miscs/Misc.cs
!SStandalones/SMiscs/STurnAround/Miscs/TurnAround.cs
SStandalones/SMiscs/SWallJump/bin/
SStandalones/SMiscs/SWallJump/obj/
SStandalones/SMiscs/SWallJump/Miscs/*
!SStandalones/SMiscs/SWallJump/Miscs/Misc.cs
!SStandalones/SMiscs/SWallJump/Miscs/WallJump.cs
#Ranges
SStandalones/SRanges/SAttack/bin/
SStandalones/SRanges/SAttack/obj/
SStandalones/SRanges/SAttack/Ranges/*
!SStandalones/SRanges/SAttack/Ranges/Range.cs
!SStandalones/SRanges/SAttack/Ranges/Attack.cs
SStandalones/SRanges/SExperience/bin/
SStandalones/SRanges/SExperience/obj/
SStandalones/SRanges/SExperience/Ranges/*
!SStandalones/SRanges/SExperience/Ranges/Range.cs
!SStandalones/SRanges/SExperience/Ranges/Experience.cs
SStandalones/SRanges/SShop/bin/
SStandalones/SRanges/SShop/obj/
SStandalones/SRanges/SShop/Ranges/*
!SStandalones/SRanges/SShop/Ranges/Range.cs
!SStandalones/SRanges/SShop/Ranges/Shop.cs
SStandalones/SRanges/SSpellE/bin/
SStandalones/SRanges/SSpellE/obj/
SStandalones/SRanges/SSpellE/Ranges/*
!SStandalones/SRanges/SSpellE/Ranges/Range.cs
!SStandalones/SRanges/SSpellE/Ranges/SpellE.cs
SStandalones/SRanges/SSpellQ/bin/
SStandalones/SRanges/SSpellQ/obj/
SStandalones/SRanges/SSpellQ/Ranges/*
!SStandalones/SRanges/SSpellQ/Ranges/Range.cs
!SStandalones/SRanges/SSpellQ/Ranges/SpellE.cs
SStandalones/SRanges/SSpellR/bin/
SStandalones/SRanges/SSpellR/obj/
SStandalones/SRanges/SSpellR/Ranges/*
!SStandalones/SRanges/SSpellR/Ranges/Range.cs
!SStandalones/SRanges/SSpellR/Ranges/SpellR.cs
SStandalones/SRanges/SSpellW/bin/
SStandalones/SRanges/SSpellW/obj/
SStandalones/SRanges/SSpellW/Ranges/*
!SStandalones/SRanges/SSpellW/Ranges/Range.cs
!SStandalones/SRanges/SSpellW/Ranges/SpellW.cs
SStandalones/SRanges/STurret/bin/
SStandalones/SRanges/STurret/obj/
SStandalones/SRanges/STurret/Ranges/*
!SStandalones/SRanges/STurret/Ranges/Range.cs
!SStandalones/SRanges/STurret/Ranges/Turret.cs
SStandalones/SRanges/SVision/bin/
SStandalones/SRanges/SVision/obj/
SStandalones/SRanges/SVision/Ranges/*
!SStandalones/SRanges/SVision/Ranges/Range.cs
!SStandalones/SRanges/SVision/Ranges/Vision.cs
#Timers
SStandalones/STimers/SAltar/bin/
SStandalones/STimers/SAltar/obj/
SStandalones/STimers/SAltar/Timers/*
!SStandalones/STimers/SAltar/Timers/Timer.cs
!SStandalones/STimers/SAltar/Timers/Vision.cs
SStandalones/STimers/SExecute/bin/
SStandalones/STimers/SExecute/obj/
SStandalones/STimers/SExecute/Timers/*
!SStandalones/STimers/SExecute/Timers/Timer.cs
!SStandalones/STimers/SExecute/Timers/Execute.cs
SStandalones/STimers/SHealth/bin/
SStandalones/STimers/SHealth/obj/
SStandalones/STimers/SHealth/Timers/*
!SStandalones/STimers/SHealth/Timers/Timer.cs
!SStandalones/STimers/SHealth/Timers/Health.cs
SStandalones/STimers/SImmune/bin/
SStandalones/STimers/SImmune/obj/
SStandalones/STimers/SImmune/Timers/*
!SStandalones/STimers/SImmune/Timers/Timer.cs
!SStandalones/STimers/SImmune/Timers/Immune.cs
SStandalones/STimers/SInhibitor/bin/
SStandalones/STimers/SInhibitor/obj/
SStandalones/STimers/SInhibitor/Timers/*
!SStandalones/STimers/SInhibitor/Timers/Timer.cs
!SStandalones/STimers/SInhibitor/Timers/Inhibitor.cs
SStandalones/STimers/SJungle/bin/
SStandalones/STimers/SJungle/obj/
SStandalones/STimers/SJungle/Timers/*
!SStandalones/STimers/SJungle/Timers/Timer.cs
!SStandalones/STimers/SJungle/Timers/Jungle.cs
SStandalones/STimers/SRelic/bin/
SStandalones/STimers/SRelic/obj/
SStandalones/STimers/SRelic/Timers/*
!SStandalones/STimers/SRelic/Timers/Timer.cs
!SStandalones/STimers/SRelic/Timers/Relic.cs
SStandalones/STimers/SSpell/bin/
SStandalones/STimers/SSpell/obj/
SStandalones/STimers/SSpell/Timers/*
!SStandalones/STimers/SSpell/Timers/Timer.cs
!SStandalones/STimers/SSpell/Timers/Spell.cs
SStandalones/STimers/SSummoner/bin/
SStandalones/STimers/SSummoner/obj/
SStandalones/STimers/SSummoner/Timers/*
!SStandalones/STimers/SSummoner/Timers/Timer.cs
!SStandalones/STimers/SSummoner/Timers/Summoner.cs
#Trackers
SStandalones/STrackers/SAvoid/bin/
SStandalones/STrackers/SAvoid/obj/
SStandalones/STrackers/SAvoid/Trackers/*
!SStandalones/STrackers/SAvoid/Trackers/Tracker.cs
!SStandalones/STrackers/SAvoid/Trackers/Avoid.cs
SStandalones/STrackers/SClone/bin/
SStandalones/STrackers/SClone/obj/
SStandalones/STrackers/SClone/Trackers/*
!SStandalones/STrackers/SClone/Trackers/Tracker.cs
!SStandalones/STrackers/SClone/Trackers/Clone.cs
SStandalones/STrackers/SCrowdControl/bin/
SStandalones/STrackers/SCrowdControl/obj/
SStandalones/STrackers/SCrowdControl/Trackers/*
!SStandalones/STrackers/SCrowdControl/Trackers/Tracker.cs
!SStandalones/STrackers/SCrowdControl/Trackers/CrowdControl.cs
SStandalones/STrackers/SDestination/bin/
SStandalones/STrackers/SDestination/obj/
SStandalones/STrackers/SDestination/Trackers/*
!SStandalones/STrackers/SDestination/Trackers/Tracker.cs
!SStandalones/STrackers/SDestination/Trackers/Destination.cs
SStandalones/STrackers/SGank/bin/
SStandalones/STrackers/SGank/obj/
SStandalones/STrackers/SGank/Trackers/*
!SStandalones/STrackers/SGank/Trackers/Tracker.cs
!SStandalones/STrackers/SGank/Trackers/Gank.cs
SStandalones/STrackers/SJungler/bin/
SStandalones/STrackers/SJungler/obj/
SStandalones/STrackers/SJungler/Trackers/*
!SStandalones/STrackers/SJungler/Trackers/Tracker.cs
!SStandalones/STrackers/SJungler/Trackers/Jungler.cs
SStandalones/STrackers/SKillable/bin/
SStandalones/STrackers/SKillable/obj/
SStandalones/STrackers/SKillable/Trackers/*
!SStandalones/STrackers/SKillable/Trackers/Tracker.cs
!SStandalones/STrackers/SKillable/Trackers/Killable.cs
SStandalones/STrackers/SSsCaller/bin/
SStandalones/STrackers/SSsCaller/obj/
SStandalones/STrackers/SSsCaller/Trackers/*
!SStandalones/STrackers/SSsCaller/Trackers/Tracker.cs
!SStandalones/STrackers/SSsCaller/Trackers/SsCaller.cs
SStandalones/STrackers/SUi/bin/
SStandalones/STrackers/SUi/obj/
SStandalones/STrackers/SUi/Trackers/*
!SStandalones/STrackers/SUi/Trackers/Tracker.cs
!SStandalones/STrackers/SUi/Trackers/Ui.cs
SStandalones/STrackers/SUim/bin/
SStandalones/STrackers/SUim/obj/
SStandalones/STrackers/SUim/Trackers/*
!SStandalones/STrackers/SUim/Trackers/Tracker.cs
!SStandalones/STrackers/SUim/Trackers/Uim.cs
SStandalones/STrackers/SWaypoint/bin/
SStandalones/STrackers/SWaypoint/obj/
SStandalones/STrackers/SWaypoint/Trackers/*
!SStandalones/STrackers/SWaypoint/Trackers/Tracker.cs
!SStandalones/STrackers/SWaypoint/Trackers/Waypoint.cs
#Wards
SStandalones/SWards/SBushRevealer/bin/
SStandalones/SWards/SBushRevealer/obj/
SStandalones/SWards/SBushRevealer/Wards/*
!SStandalones/SWards/SBushRevealer/Wards/Ward.cs
!SStandalones/SWards/SBushRevealer/Wards/Waypoint.cs
SStandalones/SWards/SFowWardPlacement/bin/
SStandalones/SWards/SFowWardPlacement/obj/
SStandalones/SWards/SFowWardPlacement/Wards/*
!SStandalones/SWards/SFowWardPlacement/Wards/Ward.cs
!SStandalones/SWards/SFowWardPlacement/Wards/Waypoint.cs
SStandalones/SWards/SInvisibleRevealer/bin/
SStandalones/SWards/SInvisibleRevealer/obj/
SStandalones/SWards/SInvisibleRevealer/Wards/*
!SStandalones/SWards/SInvisibleRevealer/Wards/Ward.cs
!SStandalones/SWards/SInvisibleRevealer/Wards/Waypoint.cs
SStandalones/SWards/SWardCorrector/bin/
SStandalones/SWards/SWardCorrector/obj/
SStandalones/SWards/SWardCorrector/Wards/*
!SStandalones/SWards/SWardCorrector/Wards/Ward.cs
!SStandalones/SWards/SWardCorrector/Wards/Waypoint.cs

#Taken out due to not working (buggy) features
SPackages/SActivators/*
SStandalones/SActivators/*

#General
*.txt
*.bat
SAssemblies.sln