#Packages
SPackages/SActivators/bin/*
SPackages/SActivators/obj/*
SPackages/SDetectors/bin/*
SPackages/SDetectors/obj/*
SPackages/SHealths/bin/*
SPackages/SHealths/obj/*
SPackages/SMiscs/bin/*
SPackages/SMiscs/obj/*
SPackages/SRanges/bin/*
SPackages/SRanges/obj/*
SPackages/STimers/bin/*
SPackages/STimers/obj/*
SPackages/STrackers/bin/*
SPackages/STrackers/obj/*
SPackages/SWards/bin/*
SPackages/SWards/obj/*

#Taken out due to not working (buggy) features
SActivators/

#Standalones
#Detectors
SStandalones/SDetectors/SDisReconnectDetector/bin/
SStandalones/SDetectors/SDisReconnectDetector/obj/
SStandalones/SDetectors/SDisReconnectDetector/Detectors/*
!SStandalones/SDetectors/SDisReconnectDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SDisReconnectDetector/Detectors/DisReconnect.cs
SStandalones/SDetectors/SFoWSpellEnemyDetector/bin/
SStandalones/SDetectors/SFoWSpellEnemyDetector/obj/
SStandalones/SDetectors/SFoWSpellEnemyDetector/Detectors/*
!SStandalones/SDetectors/SFoWSpellEnemyDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SFoWSpellEnemyDetector/Detectors/FoWSpellEnemy.cs
SStandalones/SDetectors/SGankDetector/bin/
SStandalones/SDetectors/SGankDetector/obj/
SStandalones/SDetectors/SGankDetector/Detectors/*
!SStandalones/SDetectors/SGankDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SGankDetector/Detectors/Gank.cs
SStandalones/SDetectors/SRecallDetector/bin/
SStandalones/SDetectors/SRecallDetector/obj/
SStandalones/SDetectors/SRecallDetector/Detectors/*
!SStandalones/SDetectors/SRecallDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SRecallDetector/Detectors/Recall.cs
SStandalones/SDetectors/SVisionDetector/bin/
SStandalones/SDetectors/SVisionDetector/obj/
SStandalones/SDetectors/SVisionDetector/Detectors/*
!SStandalones/SDetectors/SVisionDetector/Detectors/Detector.cs
!SStandalones/SDetectors/SVisionDetector/Detectors/Vision.cs
#Healths
SStandalones/SHealths/SInhibitorHealth/bin/
SStandalones/SHealths/SInhibitorHealth/obj/
SStandalones/SHealths/SInhibitorHealth/Healths/*
!SStandalones/SHealths/SInhibitorHealth/Healths/Health.cs
!SStandalones/SHealths/SInhibitorHealth/Healths/Inhibitor.cs
SStandalones/SHealths/STurretHealth/bin/
SStandalones/SHealths/STurretHealth/obj/
SStandalones/SHealths/STurretHealth/Healths/*
!SStandalones/SHealths/STurretHealth/Healths/Health.cs
!SStandalones/SHealths/STurretHealth/Healths/Turret.cs
#Miscs
SStandalones/SMiscs/SAntiJumpMisc/bin/
SStandalones/SMiscs/SAntiJumpMisc/obj/
SStandalones/SMiscs/SAntiJumpMisc/Miscs/*
!SStandalones/SMiscs/SAntiJumpMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiJumpMisc/Miscs/AntiJump.cs
SStandalones/SMiscs/SAntiLaternMisc/bin/
SStandalones/SMiscs/SAntiLaternMisc/obj/
SStandalones/SMiscs/SAntiLaternMisc/Miscs/*
!SStandalones/SMiscs/SAntiLaternMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiLaternMisc/Miscs/AntiLatern.cs
SStandalones/SMiscs/SAntiNexusTurretMisc/bin/
SStandalones/SMiscs/SAntiNexusTurretMisc/obj/
SStandalones/SMiscs/SAntiNexusTurretMisc/Miscs/*
!SStandalones/SMiscs/SAntiNexusTurretMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiNexusTurretMisc/Miscs/AntiNexusTurret.cs
SStandalones/SMiscs/SAntiVisualScreenStealthMisc/bin/
SStandalones/SMiscs/SAntiVisualScreenStealthMisc/obj/
SStandalones/SMiscs/SAntiVisualScreenStealthMisc/Miscs/*
!SStandalones/SMiscs/SAntiVisualScreenStealthMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAntiVisualScreenStealthMisc/Miscs/AntiVisualScreenStealth.cs
SStandalones/SMiscs/SAutoBuyMisc/bin/
SStandalones/SMiscs/SAutoBuyMisc/obj/
SStandalones/SMiscs/SAutoBuyMisc/Miscs/*
!SStandalones/SMiscs/SAutoBuyMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoBuyMisc/Miscs/AutoBuy.cs
SStandalones/SMiscs/SAutoJumpMisc/bin/
SStandalones/SMiscs/SAutoJumpMisc/obj/
SStandalones/SMiscs/SAutoJumpMisc/Miscs/*
!SStandalones/SMiscs/SAutoJumpMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoJumpMisc/Miscs/AutoJump.cs
SStandalones/SMiscs/SAutoLaternMisc/bin/
SStandalones/SMiscs/SAutoLaternMisc/obj/
SStandalones/SMiscs/SAutoLaternMisc/Miscs/*
!SStandalones/SMiscs/SAutoLaternMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoLaternMisc/Miscs/AutoLatern.cs
SStandalones/SMiscs/SAutoLevlerMisc/bin/
SStandalones/SMiscs/SAutoLevlerMisc/obj/
SStandalones/SMiscs/SAutoLevlerMisc/Miscs/*
!SStandalones/SMiscs/SAutoLevlerMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SAutoLevlerMisc/Miscs/AutoLevler.cs
SStandalones/SMiscs/SEasyRangedJungleMisc/bin/
SStandalones/SMiscs/SEasyRangedJungleMisc/obj/
SStandalones/SMiscs/SEasyRangedJungleMisc/Miscs/*
!SStandalones/SMiscs/SEasyRangedJungleMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SEasyRangedJungleMisc/Miscs/EasyRangedJungle.cs
SStandalones/SMiscs/SEloDisplayerMisc/bin/
SStandalones/SMiscs/SEloDisplayerMisc/obj/
SStandalones/SMiscs/SEloDisplayerMisc/Miscs/*
!SStandalones/SMiscs/SEloDisplayerMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SEloDisplayerMisc/Miscs/EloDisplayer.cs
SStandalones/SMiscs/SFlashJukeMisc/bin/
SStandalones/SMiscs/SFlashJukeMisc/obj/
SStandalones/SMiscs/SFlashJukeMisc/Miscs/*
!SStandalones/SMiscs/SFlashJukeMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SFlashJukeMisc/Miscs/FlashJuke.cs
SStandalones/SMiscs/SMinionBarsMisc/bin/
SStandalones/SMiscs/SMinionBarsMisc/obj/
SStandalones/SMiscs/SMinionBarsMisc/Miscs/*
!SStandalones/SMiscs/SMinionBarsMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SMinionBarsMisc/Miscs/MinionBars.cs
SStandalones/SMiscs/SMinionLocationMisc/bin/
SStandalones/SMiscs/SMinionLocationMisc/obj/
SStandalones/SMiscs/SMinionLocationMisc/Miscs/*
!SStandalones/SMiscs/SMinionLocationMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SMinionLocationMisc/Miscs/MinionLocation.cs
SStandalones/SMiscs/SMoveToMouseMisc/bin/
SStandalones/SMiscs/SMoveToMouseMisc/obj/
SStandalones/SMiscs/SMoveToMouseMisc/Miscs/*
!SStandalones/SMiscs/SMoveToMouseMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SMoveToMouseMisc/Miscs/MoveToMouse.cs
SStandalones/SMiscs/SPingerNameMisc/bin/
SStandalones/SMiscs/SPingerNameMisc/obj/
SStandalones/SMiscs/SPingerNameMisc/Miscs/*
!SStandalones/SMiscs/SPingerNameMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SPingerNameMisc/Miscs/PingerName.cs
SStandalones/SMiscs/SRealTimeMisc/bin/
SStandalones/SMiscs/SRealTimeMisc/obj/
SStandalones/SMiscs/SRealTimeMisc/Miscs/*
!SStandalones/SMiscs/SRealTimeMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SRealTimeMisc/Miscs/RealTime.cs
SStandalones/SMiscs/SSafeMovementMisc/bin/
SStandalones/SMiscs/SSafeMovementMisc/obj/
SStandalones/SMiscs/SSafeMovementMisc/Miscs/*
!SStandalones/SMiscs/SSafeMovementMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SSafeMovementMisc/Miscs/SafeMovement.cs
SStandalones/SMiscs/SShowPingMisc/bin/
SStandalones/SMiscs/SShowPinMiscg/obj/
SStandalones/SMiscs/SShowPingMisc/Miscs/*
!SStandalones/SMiscs/SShowPingMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SShowPingMisc/Miscs/ShowPing.cs
SStandalones/SMiscs/SShowSupporterStacksMisc/bin/
SStandalones/SMiscs/SShowSupporterStacksMisc/obj/
SStandalones/SMiscs/SShowSupporterStacksMisc/Miscs/*
!SStandalones/SMiscs/SShowSupporterStacksMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SShowSupporterStacksMisc/Miscs/ShowSupporterStacks.cs
SStandalones/SMiscs/SSkinChangerMisc/bin/
SStandalones/SMiscs/SSkinChangerMisc/obj/
SStandalones/SMiscs/SSkinChangerMisc/Miscs/*
!SStandalones/SMiscs/SSkinChangerMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SSkinChangerMisc/Miscs/SkinChanger.cs
SStandalones/SMiscs/SSmartPingImproveMisc/bin/
SStandalones/SMiscs/SSmartPingImproveMisc/obj/
SStandalones/SMiscs/SSmartPingImproveMisc/Miscs/*
!SStandalones/SMiscs/SSmartPingImproveMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SSmartPingImproveMisc/Miscs/SmartPingImprove.cs
SStandalones/SMiscs/SSurrenderVoteMisc/bin/
SStandalones/SMiscs/SSurrenderVoteMisc/obj/
SStandalones/SMiscs/SSurrenderVoteMisc/Miscs/*
!SStandalones/SMiscs/SSurrenderVoteMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SSurrenderVoteMisc/Miscs/SurrenderVote.cs
SStandalones/SMiscs/STurnAroundMisc/bin/
SStandalones/SMiscs/STurnAroundMisc/obj/
SStandalones/SMiscs/STurnAroundMisc/Miscs/*
!SStandalones/SMiscs/STurnAroundMisc/Miscs/Misc.cs
!SStandalones/SMiscs/STurnAroundMisc/Miscs/TurnAround.cs
SStandalones/SMiscs/SWallJumpMisc/bin/
SStandalones/SMiscs/SWallJumpMisc/obj/
SStandalones/SMiscs/SWallJumpMisc/Miscs/*
!SStandalones/SMiscs/SWallJumpMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SWallJumpMisc/Miscs/WallJump.cs
SStandalones/SMiscs/SWallJumpMisc/bin/
SStandalones/SMiscs/SWoodenPcMisc/obj/
SStandalones/SMiscs/SWoodenPcMisc/Miscs/*
!SStandalones/SMiscs/SWoodenPcMisc/Miscs/Misc.cs
!SStandalones/SMiscs/SWoodenPcMisc/Miscs/WoodenPc.cs
#Ranges
SStandalones/SRanges/SAttackRange/bin/
SStandalones/SRanges/SAttackRange/obj/
SStandalones/SRanges/SAttackRange/Ranges/*
!SStandalones/SRanges/SAttackRange/Ranges/Range.cs
!SStandalones/SRanges/SAttackRange/Ranges/Attack.cs
SStandalones/SRanges/SExperienceRange/bin/
SStandalones/SRanges/SExperienceRange/obj/
SStandalones/SRanges/SExperienceRange/Ranges/*
!SStandalones/SRanges/SExperienceRange/Ranges/Range.cs
!SStandalones/SRanges/SExperienceRange/Ranges/Experience.cs
SStandalones/SRanges/SShopRange/bin/
SStandalones/SRanges/SShopRange/obj/
SStandalones/SRanges/SShopRange/Ranges/*
!SStandalones/SRanges/SShopRange/Ranges/Range.cs
!SStandalones/SRanges/SShopRange/Ranges/Shop.cs
SStandalones/SRanges/SSpellERange/bin/
SStandalones/SRanges/SSpellERange/obj/
SStandalones/SRanges/SSpellERange/Ranges/*
!SStandalones/SRanges/SSpellERange/Ranges/Range.cs
!SStandalones/SRanges/SSpellERange/Ranges/SpellE.cs
SStandalones/SRanges/SSpellQRange/bin/
SStandalones/SRanges/SSpellQRange/obj/
SStandalones/SRanges/SSpellQRange/Ranges/*
!SStandalones/SRanges/SSpellQRange/Ranges/Range.cs
!SStandalones/SRanges/SSpellQRange/Ranges/SpellQ.cs
SStandalones/SRanges/SSpellRRange/bin/
SStandalones/SRanges/SSpellRRange/obj/
SStandalones/SRanges/SSpellRRange/Ranges/*
!SStandalones/SRanges/SSpellRRange/Ranges/Range.cs
!SStandalones/SRanges/SSpellRRange/Ranges/SpellR.cs
SStandalones/SRanges/SSpellWRange/bin/
SStandalones/SRanges/SSpellWRange/obj/
SStandalones/SRanges/SSpellWRange/Ranges/*
!SStandalones/SRanges/SSpellWRange/Ranges/Range.cs
!SStandalones/SRanges/SSpellWRange/Ranges/SpellW.cs
SStandalones/SRanges/STurretRange/bin/
SStandalones/SRanges/STurretRange/obj/
SStandalones/SRanges/STurretRange/Ranges/*
!SStandalones/SRanges/STurretRange/Ranges/Range.cs
!SStandalones/SRanges/STurretRange/Ranges/Turret.cs
SStandalones/SRanges/SVisionRange/bin/
SStandalones/SRanges/SVisionRange/obj/
SStandalones/SRanges/SVisionRange/Ranges/*
!SStandalones/SRanges/SVisionRange/Ranges/Range.cs
!SStandalones/SRanges/SVisionRange/Ranges/Vision.cs
#Timers
SStandalones/STimers/SAltarTimer/bin/
SStandalones/STimers/SAltarTimer/obj/
SStandalones/STimers/SAltarTimer/Timers/*
!SStandalones/STimers/SAltarTimer/Timers/Timer.cs
!SStandalones/STimers/SAltarTimer/Timers/Altar.cs
SStandalones/STimers/SExecuteTimer/bin/
SStandalones/STimers/SExecuteTimer/obj/
SStandalones/STimers/SExecuteTimer/Timers/*
!SStandalones/STimers/SExecuteTimer/Timers/Timer.cs
!SStandalones/STimers/SExecuteTimer/Timers/Execute.cs
SStandalones/STimers/SHealthTimer/bin/
SStandalones/STimers/SHealthTimer/obj/
SStandalones/STimers/SHealthTimer/Timers/*
!SStandalones/STimers/SHealthTimer/Timers/Timer.cs
!SStandalones/STimers/SHealthTimer/Timers/Health.cs
SStandalones/STimers/SImmuneTimer/bin/
SStandalones/STimers/SImmuneTimer/obj/
SStandalones/STimers/SImmuneTimer/Timers/*
!SStandalones/STimers/SImmuneTimer/Timers/Timer.cs
!SStandalones/STimers/SImmuneTimer/Timers/Immune.cs
SStandalones/STimers/SInhibitorTimer/bin/
SStandalones/STimers/SInhibitorTimer/obj/
SStandalones/STimers/SInhibitorTimer/Timers/*
!SStandalones/STimers/SInhibitorTimer/Timers/Timer.cs
!SStandalones/STimers/SInhibitorTimer/Timers/Inhibitor.cs
SStandalones/STimers/SJungleTimer/bin/
SStandalones/STimers/SJungleTimer/obj/
SStandalones/STimers/SJungleTimer/Timers/*
!SStandalones/STimers/SJungleTimer/Timers/Timer.cs
!SStandalones/STimers/SJungleTimer/Timers/Jungle.cs
SStandalones/STimers/SRelicTimer/bin/
SStandalones/STimers/SRelicTimer/obj/
SStandalones/STimers/SRelicTimer/Timers/*
!SStandalones/STimers/SRelicTimer/Timers/Timer.cs
!SStandalones/STimers/SRelicTimer/Timers/Relic.cs
SStandalones/STimers/SSpellTimer/bin/
SStandalones/STimers/SSpellTimer/obj/
SStandalones/STimers/SSpellTimer/Timers/*
!SStandalones/STimers/SSpellTimer/Timers/Timer.cs
!SStandalones/STimers/SSpellTimer/Timers/Spell.cs
SStandalones/STimers/SSummonerTimer/bin/
SStandalones/STimers/SSummonerTimer/obj/
SStandalones/STimers/SSummonerTimer/Timers/*
!SStandalones/STimers/SSummonerTimer/Timers/Timer.cs
!SStandalones/STimers/SSummonerTimer/Timers/Summoner.cs
#Trackers
SStandalones/STrackers/SAvoidTracker/bin/
SStandalones/STrackers/SAvoidTracker/obj/
SStandalones/STrackers/SAvoidTracker/Trackers/*
!SStandalones/STrackers/SAvoidTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SAvoidTracker/Trackers/Avoid.cs
SStandalones/STrackers/SCloneTracker/bin/
SStandalones/STrackers/SCloneTracker/obj/
SStandalones/STrackers/SCloneTracker/Trackers/*
!SStandalones/STrackers/SCloneTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SCloneTracker/Trackers/Clone.cs
SStandalones/STrackers/SCrowdControlTracker/bin/
SStandalones/STrackers/SCrowdControlTracker/obj/
SStandalones/STrackers/SCrowdControlTracker/Trackers/*
!SStandalones/STrackers/SCrowdControlTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SCrowdControlTracker/Trackers/CrowdControl.cs
SStandalones/STrackers/SDestinationTracker/bin/
SStandalones/STrackers/SDestinationTracker/obj/
SStandalones/STrackers/SDestinationTracker/Trackers/*
!SStandalones/STrackers/SDestinationTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SDestinationTracker/Trackers/Destination.cs
SStandalones/STrackers/SGankTracker/bin/
SStandalones/STrackers/SGankTracker/obj/
SStandalones/STrackers/SGankTracker/Trackers/*
!SStandalones/STrackers/SGankTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SGankTracker/Trackers/Gank.cs
SStandalones/STrackers/SJunglerTracker/bin/
SStandalones/STrackers/SJunglerTracker/obj/
SStandalones/STrackers/SJunglerTracker/Trackers/*
!SStandalones/STrackers/SJunglerTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SJunglerTracker/Trackers/Jungler.cs
SStandalones/STrackers/SKillableTracker/bin/
SStandalones/STrackers/SKillableTracker/obj/
SStandalones/STrackers/SKillableTracker/Trackers/*
!SStandalones/STrackers/SKillableTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SKillableTracker/Trackers/Killable.cs
SStandalones/STrackers/SSsTracker/bin/
SStandalones/STrackers/SSsTracker/obj/
SStandalones/STrackers/SSsTracker/Trackers/*
!SStandalones/STrackers/SSsTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SSsTracker/Trackers/SsCaller.cs
SStandalones/STrackers/SUiTracker/bin/
SStandalones/STrackers/SUiTracker/obj/
SStandalones/STrackers/SUiTracker/Trackers/*
!SStandalones/STrackers/SUiTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SUiTracker/Trackers/Ui.cs
SStandalones/STrackers/SUimTracker/bin/
SStandalones/STrackers/SUimTracker/obj/
SStandalones/STrackers/SUimTracker/Trackers/*
!SStandalones/STrackers/SUimTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SUimTracker/Trackers/Uim.cs
SStandalones/STrackers/SWaypointTracker/bin/
SStandalones/STrackers/SWaypointTracker/obj/
SStandalones/STrackers/SWaypointTracker/Trackers/*
!SStandalones/STrackers/SWaypointTracker/Trackers/Tracker.cs
!SStandalones/STrackers/SWaypointTracker/Trackers/Waypoint.cs
#Wards
SStandalones/SWards/SBushRevealerWard/bin/
SStandalones/SWards/SBushRevealerWard/obj/
SStandalones/SWards/SBushRevealerWard/Wards/*
!SStandalones/SWards/SBushRevealerWard/Wards/Ward.cs
!SStandalones/SWards/SBushRevealerWard/Wards/BushRevealer.cs
SStandalones/SWards/SFowWardPlacementWard/bin/
SStandalones/SWards/SFowWardPlacementWard/obj/
SStandalones/SWards/SFowWardPlacementWard/Wards/*
!SStandalones/SWards/SFowWardPlacementWard/Wards/Ward.cs
!SStandalones/SWards/SFowWardPlacementWard/Wards/FowWardPlacement.cs
SStandalones/SWards/SInvisibleRevealerWard/bin/
SStandalones/SWards/SInvisibleRevealerWard/obj/
SStandalones/SWards/SInvisibleRevealerWard/Wards/*
!SStandalones/SWards/SInvisibleRevealerWard/Wards/Ward.cs
!SStandalones/SWards/SInvisibleRevealerWard/Wards/InvisibleRevealer.cs
SStandalones/SWards/SWardCorrectorWard/bin/
SStandalones/SWards/SWardCorrectorWard/obj/
SStandalones/SWards/SWardCorrectorWard/Wards/*
!SStandalones/SWards/SWardCorrectorWard/Wards/Ward.cs
!SStandalones/SWards/SWardCorrectorWard/Wards/WardCorrector.cs

#Taken out due to not working (buggy) features
SPackages/SActivators/*
SStandalones/SActivators/*

#General
*.txt
*.bat
*.htm
SAssemblies.sln
packages/*

Default:
#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.publishproj

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
